name: Client CI

on:
  push:
    branches: [main]
    paths: [frontend/kau-sw-business/**]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [14.x]
    
    defaults:
      run:
        working-directory: frontend/kau-sw-business

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update npm version
      run: npm install -g npm@7.21.0
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build 
